/*GENERAL STYLES */
.adl-general>p {
    padding-top: 10px;
}

h1.adl_lp_title {
    font-size: 23px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin: 5px 0 10px 0;
}

#createLegalPage {
    padding-top: 20px;
}

input#adl_accept_terms {
    margin: -4px 2px 0 0;
}

/*Ajax Loader*/
.adl_lp_ajax_loading {
    background: url("../img/ajax-loader.gif") no-repeat center center;
    padding-left: 10px;
    display: inline-block;
    min-height: 32px;
    min-width: 32px;
}

/* Pagination Style if needed later */

.adl-lp-pagination a.page-numbers {
    display: inline-block;
    padding: 9px 11px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    color: #666;
}

.page-numbers.current {
    color: #fff;
    display: inline-block;
    padding: 9px 11px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    background: dodgerblue;

}

.adl-lp-pagination a.page-numbers:hover {
    color: #fff;
    background: dodgerblue;
}


/* Notification Style*/
#adl-lp-notification {
    min-height: 45px;
    padding: 10px 15px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all .5s;
    z-index: 9999;
    border: 0 none;
    color: rgb(76 175 80);
    border-radius: 4px;
    background: rgba(76, 175, 80, 0.15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#adl-lp-notification a {
    display: inline-block;
    margin-right: 10px;
}

#adl_close_it {
    display: inline-flex;
    color: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #444753;
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    top: -11px;
    right: -11px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

#adl_close_it:hover {
    background-color: #000;
}

/*POPUP Listing Page Style*/
#adl_legal_popup_container {
    margin-top: 20px;
}

#adl_legal_popup_container table tr td:nth-child(4) {
    text-align: right;
}

#adl_legal_popup_container table tr th:nth-child(4) {
    text-align: right;
    padding-right: 50px;
}

/*fixing bootstrap messing with radio button on the admin setting page*/
.checkbox label,
.radio label {
    padding-left: 0;
}

/* Text select */
.lp-selectable {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}