
/*GENERAL STYLES */
.adl-general > p {
    padding-top: 10px;
}
h1.adl_lp_title {
    font-size: 23px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 400;
    margin: 5px 0 10px 0;
}
#createLegalPage{
    padding-top: 20px;
}

#ChooseTemplate p {
    font-size: 15px;
    color: #337ab7;
}

h3.upgrade-title {
    font-size: 23px;
}

h3.upgrade-title a {
    text-decoration: underline;
}

a.adl_highlight {
    font-size: 16px;
    text-decoration: underline;
}
/*Ajax Loader*/
.adl_lp_ajax_loading {
    background: url("../img/ajax-loader.gif") no-repeat center center;
    padding-left: 10px;
    display: inline-block;
    min-height: 32px;
    min-width: 32px;

}

/* Pagination Style if needed later */

.adl-lp-pagination a.page-numbers {
    display: inline-block;
    padding: 9px 11px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    color: #666;
}

.page-numbers.current {
    color: #fff;
    display: inline-block;
    padding: 9px 11px;
    margin: 0 2px 0 0;
    border: 1px solid #eee;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    background: dodgerblue;

}
.adl-lp-pagination a.page-numbers:hover {
    color: #fff;
    background: dodgerblue;
}


/* Notification Style*/
#adl-lp-notification {
    min-height: 50px;
    padding: 10px;
    box-shadow: 0px 0px 13px #46b450;
    position: fixed;
    bottom: 3%;
    right: 0%;
    background-color: white;
    transition: all .5s;
    z-index: 9999;
    border: 3px solid green;
    color: #4CAF50;
}

#adl_close_it {
    display: inline-block;
    color: red;
    border: 1px solid #ff0300;
    border-radius: 50%;
    height:30px;
    width: 30px;
    background-color: #ffffff;
    cursor: pointer;
    position: absolute;
    line-height: 28px;
    padding-left: 8px;
    font-size: 19px;
    top: -19px;
    right: 0px;

}

.adl-lp-upgrade-notice, #ChooseTemplate {
    padding: 0px 3px 12px 20px;
}
/*
.adl_highlight,
.adl-lp-upgrade-notice a {
    display: inline-block;
    padding:5px 7px;
    font-weight:900;
    text-decoration: none;
    border:1px dashed #3c3c3c;
    background: #000405;
    color: #ffffff;
}
.adl-lp-upgrade-notice a{
    -webkit-transition: background .2s ease-in;
    -moz-transition: background .2s ease-in;
    -ms-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    transition: background .2s ease-in;
}
.adl-lp-upgrade-notice a:hover,
.adl-lp-upgrade-notice a:active,
.adl-lp-upgrade-notice a:focus,
.adl_highlight a {
    background: #fff;
    color: #232323;
    border:1px dashed #3c3c3c;

}
*/



